.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-top-20{
    margin-top: 20px;
}

.form-check-input {
    position: relative!important; 
    margin-top: 0px!important; 
    margin-left: 0px!important; 
}

.color-white{
    color:white;
}

.border-radius-10{
    border-radius: 10px!important;
}


.backgroundSuperior{
    background: rgba(0, 0, 0, 0.5);
}

.width-100{
    width: 100%;
}

.publicidadInferior{
    position: absolute;
    bottom: 0px;
    margin: 0!important;
    z-index: 1;
}

.btnBackPage{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10%;
}

.margin-zero{
    margin: 0!important;
}

.margin-left-10{
    margin-left: 10%;
}


select{
    border-radius: 10px!important;
}

textarea{
    border:solid 1px #000!important;
}

input{
    border:solid 1px #000!important;
}

.margin-top-5{
    margin-top:5px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.fontWhite{
    color: #FFF;
}

.margin-top-10{
    margin-top:10px;
}

.closebtnModal{
    right: 10%;
    top: 10px!important;
}


.widthAll{
    width: 100%;
}

.font-15{
    font-size: 15px!important;
}

.iconCestaBlack{
    width: 50%;
    padding-right: 5px;
}

.divIconCesta{
    float: left;
    width: 100%;
    margin-top: 30px;
}

.lblCestaCount{
    border-radius: 50px;
    background-color: #000;
    color: #FFF;
    width: 18px;
    position: absolute;
    margin-top: -15px;
    height: 18px;
    font-size: 12px;
    padding: 0px!important;
}

.width50{
    width: 50%;
}

.maxHeightImg{
    max-height: 150px;
}

.padding-20{
    padding: 20px;
}
