.btnAddGroupClass{        
    position: absolute;
    width: 20px;
    height: auto;
    right: 5%;
}

.imgBack{
    width:25px;
    height: 25px;
}

.backgroundInferior{
    background-color: #fff;
    width: 100%;
    padding: 5px;
    float: left;
}

.backgroundSuperior{
    width: 100%;
    min-height: 50px;
    padding: 0px!important;
    float: left;
    background: rgba(0, 0, 0, 0.5)!important;
}

.sup{
    width: 100%;
    height: 100px;
    display: inline-block;
    padding: 0px!important;
}

.padding-20{
    padding: 20px;
}

.input-time{
    height: 25px!important;
    width: 65px!important;
}


.border-black{
    border: 1px solid #000!important;
}
.check-margin{
    margin-bottom: 5px;
}

#accordion{
    margin-bottom: 10px!important;
}

.img-group{
    float: left;
    width: 35%;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 8px;
}

.titleGroup{
    float: left;
    width: 54%;
    text-align: center;
}


.titleSubGroup{
    float: left;
    width: 90%;
    text-align: center;
}

.card-header {
    padding: 0px!important;
}

.btnGroupIcons{
    width: 12%;
    margin-right: 10%;
}

.btnSaucerGroupIcons{
    width: 30%;
}

.btnSectionIcons{
    width: 12%;
    margin-right: 10%;
}

.btnGroupIcons:nth-child(2){
    /*margin-left: 10%;*/
}
.btnGroup{
    width: 60%;
    float: left;
}

.btnSubGroup{
    width: 50%;
    float: right;
}

.arrow-down{
    width: 25px;
    float: left;
    margin-bottom: 10px;
}

.label-priority{
    float: left;
    color: white;
    margin-right: 10px;
    width: 40%;
}

.label-subGroup-priority{
    float: left;
    color: white;
    margin-right: 5px;
    width: 40%;
}

.select-priority{
    float: left;
    height: 32px;
    font-size: 15px;
    width: 50%;
    border-color: #000;
}

.divPriority{
    float: left;
    width: 60%;
    margin-top: 10px;
}

.divSubGroupPriority{
    float: left;
    width: 50%;
}


.subGroup{
    width: 100%;
    height: auto;
    border-radius: 10px;
    float: left;
}

.card-body{
    padding: 0px!important;
}
.card {
    border: none!important;
}

.imgmenu{
    width: 45%;
    float: left;
    border: solid 1px #000;
    border-radius: 10px;
    padding: 5px;  
    margin-top: 8%;
    height: 150px;
}



.subgroup-items{
    width: 100%;
    float: left;
    padding: 5px;
    border: solid 1px gray;
    border-radius: 10px;
    margin-top: 2px;
}

.subgroup-title{
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    float: left;
}

.img-detail{
    height: 138px!important;
    width: 100%!important;
}

.infomenu{
    width: 55%;
    float: left;
    padding-left: 5px;
}

.btnSaucer{
    width: 100%;
    float: left;
    height: 30px;
}

.img-btn-saucer{
    max-width: 25px!important;
}

.custom-switch{
    padding: 0;
    text-align: left;
}

.typeService{
    width: 100%;
    height: 60px;
    float: left;
    padding-top: 5px;
}

.divPriority-saucer{
    float: left;
    width: 100%;
}

.label-saucer-priority{
    color: gray;
    float: left;
    margin-right: 10px;
}

.icon-cam{
    position: absolute;
    left: 35px;
    margin-top: 20px;
}

.txtAreaDesc{
    max-height: 50px;
}

.divContainerDescription{
    float: left;
    width: 100%;
}

label{
    font-size: 14px;
}

.photoNewGroup{
    width: 100%;
    height: 150px!important;
    text-align: center;
    float: left;
}

.imgNewGroup{
    max-height: 150px!important;
}

.label-priority-newGroup{
    float: left;
    width: 100%;
}

.select-priority-new-group{
    float: left;
    height: 30px;
    font-size: 15px;
    width: 100%;
}

.switch-modal{
    float: left;
    display: block;
    width: 50%;
    margin-bottom: 10px;
}

.subGroupCollapse{
    height: auto;
    float: left;    
    display: block;
}

.inputPrice{
    width: 50%;
    border-radius: 10px;
    margin-top: 5px;
}

.informacionUsuarioMenuLateral{
    background: #666B6F!important;
}