.imgBack{
    width:25px;
    height: 25px;
}

.backgroundInferior{
    background-color: #fff;
    width: 100%;
    float: left;
}

.backgroundSuperior{
    width: 100%;
    min-height: 50px;
    padding: 0px!important;
    float: left;
    background: rgba(0, 0, 0, 0.5)!important;
}

.sup{
    width: 100%;
    height: 100px;
    display: inline-block;
    padding: 0px!important;
}
.btnBackPage {
    display: block;    
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5%;
}

.optionsDivSuperior {
    min-height: 110px;
    padding-top: 10%!important;
    background-color: #2EBFC6!important;
}

.titleGroupBackGround {
    width: 100%;
    padding: 0px!important;
    float: left;
    background-color: #2EBFC6!important;
}

.btnConfirmar{
    width: 50%;
    background-color: #2EBFC6;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    display: inline-block;
}


.pDescriptionProducts{
    width: 50%;
    padding-left: 10px;
}

.containerInfo{
    width: 100%;
    display: inline-block;
    padding-top: 5px;
    border-bottom:1px solid #DADADA
}


p{
    margin-bottom: 0px!important;
}


.divBtnConfirmar{
    display: inline-block;
    width: 100%;
}

.dataOrder{
    width: 100%;
    display: inline-block;
}


.order-track {
    /* margin-top: 2rem; */
    padding: 0 1rem;
    /* border-top: 1px dashed #2c3e50; */
    padding-top: 20px;
    /* display: flex; */
    /* flex-direction: column; */
}
  .order-track-step {
    display: flex;
    height: 50px;
  }
  .order-track-step:last-child {
    overflow: hidden;
    height: 4rem;
  }
  .order-track-step:last-child .order-track-status span:last-of-type {
    display: none;
  }
  .order-track-status {
    margin-right: 1.5rem;
    position: relative;
  }
  .order-track-status-dot {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #000;
  }
  .order-track-status-line {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 100%;
    background: #000;
  }
  .order-track-text-stat {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .order-track-text-sub {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .order-track {
    transition: all .3s height 0.3s;
    transform-origin: top center;
  }

  .track-active{
      background-color: #0BB11C;
  }